@import '../config';
@import '../navigation.scss';

.navbar {
    background: #2c3e50;
    color: $secondary-color;

    .nav-links {
        background-color: #2c3e50;
    }
    // .nav-header {

    //     //color: $primary-color;

    //     .nav-toggle {
    //         //color: $primary-color;
    //     }
    // }
    
    // .nav-links {
    //     .nav-link {
    //         //color: $primary-color;
    //     }
    // }
}


.recipes {
    min-height: 100vh;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 2rem;

    .recipes-form {
        width: 90vw;
        max-width: 1170px;
        display: grid;
        row-gap: 1rem;
        padding-top: .5rem;

        .recipes-input-group {
            position: relative;

            input {
                width: 100%;
                border: none;
                background-color: #ecf0f1;
                padding: 1rem 3rem 1rem 1rem;
                font-size: 1rem;
                outline: none;
                border-radius: 1rem;
                text-align: start;
            }

            input::placeholder {
                color: $primary-color;
                letter-spacing: $main-spacing;
                font-size: .9rem;
            }

            .recipes-submit-btn {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                height: 100%;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                background-color: #2c3e50;
                color: $secondary-color;
                padding: 0 1rem;
                border-radius: 0 1rem 1rem 0;
            }
        }

        .feedback {
            text-align: center;
            color: red;
            padding: .5rem 0;
            border: 1px solid red;
            border-radius: 2rem;
            font-size: .8rem;
            display: none;
        }

        .show-item {
            display: block;
        }

        .container {
            .select-box {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: .5rem;
                width: 100%;
                max-width: 400px;
                color: $secondary-color;

                .option, .selected {
                    padding: .6rem 1.2rem;
                    cursor: pointer;
                }

                .options-container {
                    background: #2c3e50;
                    //color: $secondary-color;
                    max-height: 0;
                    width: 100%;
                    opacity: 0;
                    transition: $main-transition;
                    border-radius: .5rem;
                    overflow: hidden;
                    order: 1;

                    label {
                        cursor: pointer;
                    }

                    .option {
                        .radio {
                            display: none;
                        }
                    }

                    .option:hover {
                        background: #414b57;
                    }
                }

                .options-container.active {
                    max-height: 12rem;
                    opacity: 1;
                    overflow-y: scroll;
                }

                .options-container::-webkit-scrollbar {
                    width: .5rem;
                    background: #0d141f;
                    border-radius: 0 .5rem .5rem 0;
                }

                .options-container::-webkit-scrollbar-thumb {
                    background: #525861;
                    border-radius: 0 .5rem .5rem 0;
                }

                .selected {
                    background: #2c3e50;
                    border-radius: .5rem;
                    position: relative;
                    order: 0;

                    .icon {
                        position: absolute;
                        height: 100%;
                        width: .8rem;
                        right: 5%;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: $main-transition;
                    }
                }

                .options-container.active + .selected .icon {
                    transform: rotateX(180deg);
                    top: -2%;
                }
            }
        }
    }

    .recipes-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260.9px, 1fr));
        row-gap: 1rem;
        column-gap: 1rem;;

        .preloader {
            position: absolute;
            width: 200px;
            height: 200px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            display: none;

            .b {
                border-radius: 50%;
                border-left: 4px solid;
                border-right: 4px solid;
                border-top: 4px solid transparent !important;
                border-bottom: 4px solid transparent !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: ro 2s infinite;
            }

            .b1 {
                width: 120px;
                height: 120px;
                border-color: #2c3e50;
            }

            .b2 {
                width: 100px;
                height: 100px;
                border-color: #2c3e50;
                animation-delay: 0.2s;
            }

            .b3 {
                width: 80px;
                height: 80px;
                border-color: #2c3e50;
                animation-delay: 0.4s;
            }

            .b4 {
                width: 60px;
                height: 60px;
                border-color: #2c3e50;
                animation-delay: 0.6s;
            }

            @keyframes ro {
                0% {
                    transform: translate(-50%, -50%) rotate(0);
                }

                50% {
                    transform: translate(-50%, -50%) rotate(-180deg);
                }

                100% {
                    transform: translate(-50%, -50%) rotate(0);
                }
            }
        }

        .show-preloader {
            display: block;
        }

        .recipes-card-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(260.9px, 1fr));
            
            .card {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                place-items: center;
                border: 1px solid $primary-color;
                row-gap: .5rem;
                border-radius: 1rem 1rem 0 0;
                position: relative;
                height: 24rem;
                overflow: hidden;
                transition: $main-transition;
                background: $secondary-color;

                .card-info {
                    font-size: .7rem;
                    padding: 1rem;

                    .ingredients {
                        padding: .6rem 0;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        row-gap: .7rem;
                        column-gap: .2rem;
                    }

                    .instructions {
                        line-height: 1.5;
                    }
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem 1rem 0 0;
                }

                .card-btn {
                    position: absolute;
                    left: 85%;
                    bottom: .5%;
                    border: none;
                    background: transparent;
                    padding: .7rem;
                    color: $secondary-color;
                    font-size: .7rem;
                    cursor: pointer;
                    padding: .1rem .5rem;
                    border-radius: 1rem;

                    .icon {
                        color: #2c3e50;
                        font-size: .9rem;
                    }
                }

                .rotate {
                    transform: rotateX(-180deg);
                }
            }

            .show-card {
                height: 100%;
            }
        }
        
    }
}
@import 'recipes.responsive.scss';