<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <nav class="navbar">
        <div class="center">
            <div class="nav-header">
                <h2>Pistachio</h2>
                <button type="button" class="nav-toggle" id="nav-toggle">
                    <i class="fas fa-bars icon"></i>
                </button>
            </div>

            <ul class="nav-links" id="nav-links">
                <li>
                    <a href="index.html#header" class="nav-link scroll-link">Main</a>
                </li>
                <li>
                    <a href="index.html#about" class="nav-link scroll-link">About</a>
                </li>
                <li>
                    <a href="index.html#features" class="nav-link scroll-link">Features</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="recipes center">
        <form action="" class="recipes-form">
            <div class="recipes-input-group">
                <input type="text" placeholder="Lets find some recipes" class="recipes-input">
                <button type="submit" class="recipes-submit-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <div class="feedback"></div>
            
            <div class="container">
                <div class="select-box">
                    <div class="options-container">
                        <!-- <div class="option">
                            <input type="radio" name="category" id="automobiles" class="radio">
                            <label for="automobiles">Automobiles</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="category" id="film" class="radio">
                            <label for="film">Film & Animation</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="category" id="science" class="radio">
                            <label for="science">Science & Technology</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="category" id="art" class="radio">
                            <label for="art">Art</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="category" id="music" class="radio">
                            <label for="music">Music</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="category" id="art" class="radio">
                            <label for="art">Art</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="category" id="music" class="radio">
                            <label for="music">Music</label>
                        </div> -->
                    </div>
                    <div class="selected">
                        <span class="choice">Select Category</span>
                        <i class="fas fa-chevron-down icon"></i>
                    </div>
                </div>
            </div>
            
        </form>

        <div class="recipes-container">
            <div class="preloader">
                <div class="b b1"></div>
                <div class="b b2"></div>
                <div class="b b3"></div>
                <div class="b b4"></div>
            </div>
            <div class="recipes-card-container">
            
            </div>
            <!-- card -->
            <!-- <article class="card">
                <img src="../assets/card-img-1.jpg" alt="Recipe Image">
                <h4>${name}</h4>
                <div class="card-info">
                    <h4>Ingredients</h4>
                    <div class="ingredients">
                        <p>150ml water</p>
                        <p>1 tsp sugar</p>
                        <p>15g Yeast</p>
                        <p>Leaves Basil</p>
                        <p>225g Plain Flour</p>
                        <p>1 1/2 tsp Salt</p>
                        <p>Drizzle Olive Oil</p>
                        <p>Pinch Black Pepper</p>
                        <p>80g Passata</p>
                        <p>70g Mozzarella</p>
                        <p>Peeled and Sliced Oregano</p>
                    </div>
                    <h4>Instructions</h4>
                    <div class="instructions">
                        <p>1 Preheat the oven to 230°C.</p>
                        <p>2 Add the sugar and crumble the fresh yeast into warm water.</p>
                        <p>3 Allow the mixture to stand for 10 – 15 minutes in a warm place (we find a windowsill on a sunny day works best) until froth develops on the surface.</p>
                        <p>4 Sift the flour and salt into a large mixing bowl, make a well in the middle and pour in the yeast mixture and olive oil.</p>
                        <p>5 Lightly flour your hands, and slowly mix the ingredients together until they bind.</p>
                        <p>6 Generously dust your surface with flour.</p>
                        <p>7 Throw down the dough and begin kneading for 10 minutes until smooth, silky and soft.</p>
                        <p>8 Place in a lightly oiled, non-stick baking tray (we use a round one, but any shape will do!) 9 Spread the passata on top making sure you go to the edge.</p>
                        <p>9 Evenly place the mozzarella (or other cheese) on top, season with the oregano and black pepper, then drizzle with a little olive oil.</p>
                        <p>10 Cook in the oven for 10 – 12 minutes until the cheese slightly colours.</p>
                        <p>11 When ready, place the basil leaf on top and tuck in!</p>
                    </div>
                </div>
                <button type="button" class="card-btn">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </article> -->
            <!-- end of card -->
        </div>
    </section>
</body>
</html>