@import '../config.scss';
@import '../navigation.scss';

.header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/bg-2.jpg') center/cover no-repeat;
    display: grid;
    place-items: center;

    .banner {
        width: 90vw;
        color: $secondary-color;
        font-size: .9rem;
        text-align: center;

        h1 {
            letter-spacing: $main-spacing;
        }

        h3 {
            margin-top: .8rem;
            font-size: .8rem;
            letter-spacing: 1.5px;
        }

        .header-btn {
            background-color: rgba(255, 255, 255, 0.7);
            margin-top: 2rem;
            padding: .5rem 4rem;
            letter-spacing: $main-spacing;
            font-size: 1.2rem;

        }

        .header-btn:hover {
            transform: scale(1.1);
            background-color: $secondary-color;
        }
    }
}

@import './main.responsive.scss';