@import '../config';

@media screen and (min-width: 992px) {
    .header {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../../assets/bg-1.jpg');

        .banner {
            max-width: 1170px;
            font-size: 1.5rem;

            h1 {
                letter-spacing: 6px;
            }

            h3 {
                font-size: 1.1rem;
                letter-spacing: 3px;
            }

            .header-btn {
                padding: .5rem 8rem;
            }            
        }
    }
}