@import 'config.scss';

@media screen and (min-width: 992px) {
    .navbar {
        .center {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            .nav-header {
                .nav-toggle {
                    display: none;
                }
            }

            .nav-links {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                transform: translateX(0);
                position: static;
                height: auto;

                .nav-link {
                    text-align: center;
                    font-size: .9rem;
                }

                .nav-link::after {
                    content: '';
                    width: 0;
                    height: .05rem;
                    background-color: $secondary-color;
                    display: block;
                    margin: auto;
                    transition: $main-transition;
                }

                .nav-link:hover {
                    transform: translateX(0) scale(1);
                    font-size: inherit;
                }

                .nav-link:hover::after {
                    width: 80%;
                }
            }
        }
    }
}

